/* css header */
.header-bottom,
.header-top {
    border-bottom: 1px solid var(--primary-color);
    position: relative;
}

.menu-bottom {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}

.header-container {
    justify-content: space-between;
}

.header-content a:hover {
    background-color: ;
}

.header-content__left,
.header-content__right {
    width: calc(100% / 3 - 20px);
}

.header-content__left {
    gap: 30px;
}

.header-content__right {
    justify-content: right;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url('../../img/icon/Vector-down.png');
    background-repeat: no-repeat;
    background-position: right 10px bottom 8px;
    background-size: 12px;
    border: none;
    padding: 7px 16px 5px 15px;
    cursor: pointer;
    max-width: 160px;
    width: 100%;
}


.option-bg {
    background-color: var(--yellow-green);
    border: 1px solid var(--orange-color);
    border-radius: 50px;
}

.logo {
    position: relative;
    margin: 0 auto;
    display: block;
    bottom: -10px;
    z-index: 11;
}

.logo img {
    max-width: 124px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo-partner {
    padding: 0px 21px;
}

.header-content__right .logo-partner:not(:last-child) {
    border-right: 1px solid var(--primary-color);
}

.header-bottom {
    margin-top: 34.5px;
    padding-bottom: 21px;
}

.header-content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-content a {
    min-width: 80px;
    padding: 5px 10px;
    border: 50px;
    font-size: calc(var(--font-size-base) - 2px);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: all 0.6s ease;
}

.header-content a:hover,
.nav-active {
    background-color: var(--orange-color);
    border-radius: 50px;
}

.search-box input,
.search-box button {
    border: none;
    background-color: transparent;
}

.search-box input {
    width: 100%;
}

.search-box {
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 3px 6px 3px 11px;
    min-width: 120px;
}

.search-box button {
    border-left: 1px solid var(--primary-color);
    padding-left: 16px;
}

/* css banner */
.dot-slide {
    text-align: center;
    margin: 11px 0px 37px;
}

.dot-slide ul {
    display: inline-flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dot-slide li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #999;
    border: none;
    text-indent: -9999px;
}

.dot-slide li.slick-active button {
    background: #333;
}

/* css mobile menu */

#menumobile {
    display: none;
}

.container-menu__mobile {
    font-size: var(--font-size-base);
    color: var(--white-color);
    padding: 11px 0px 9px;
    justify-content: space-between;
    padding-top: 34.5px;
}

.menu__btn {
    width: calc(100% / 5);
    border-right: 1px solid var(--yellow-green);
    justify-content: center;
    gap: 7px;
}

.menu__btn:first-child {
    justify-content: start;
    width: 10%;
}

.menu__btn:last-child {
    border-right: none;
}

/* css banner trang chủ */
.main-banner a {
    width: 100%;
    height: 100%;
}

.main-banner a img {
    width: 100%;
    height: auto;
}

.creation-process__container {
    position: relative;
    justify-content: space-around;
    margin-bottom: 50px !important;
}

.creation-process__item img:nth-child(2) {
    margin: 58px 0px;
}

.creation-process__img,
.creation-process__content {
    aspect-ratio: 1 / 1;
    max-width: 150px;
    width: 100%;
    height: auto;
}

.creation-process__content p {
    text-align: center;
    font-size: calc(var(--font-size-base) - 2px);
    text-transform: capitalize;
}

.icon {}

.creation-process__img {
    object-fit: contain;
}

.line-center {
    position: absolute;
    border: 2px solid var(--primary-color);
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* css responsibility */
.responsibility-container {
    padding: 70px 0px;
    border-bottom: 1px solid var(--primary-color);
}

.responsibility-group {
    margin-bottom: 30px;
}

.responsibility-content {
    width: 50%;
    gap: 32px;
}

.responsibility-content button {
    font-size: calc(var(--font-size-base) + 4px);
    color: var(--primary-color);
    text-transform: capitalize;
    background-color: var(--orange-color);
    border-radius: 50px;
    padding: 8px 20px;
    border: none;
    width: fit-content !important;
    cursor: pointer;
}

.responsibility-content p {
    font-size: calc(var(--font-size-base) + 4px);
    text-transform: capitalize;
}

.responsibility-content h3 {
    font-size: calc(var(--font-size-base) + 20px);
    color: var(--primary-color);
    font-weight: 500;
    text-transform: capitalize;
}

.responsibility-button {
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    justify-content: right;
}

.responsibility-button a {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 227px;
    height: auto;
    position: relative;
    font-size: calc(var(--font-size-base) + 5px);
    font-weight: bold;
    padding: 0px 10px;
    text-align: center;
    cursor: pointer;
}

.responsibility-button .bg-green {
    color: var(--orange-color);
}

.responsibility-button .bg-orange {
    color: var(--primary-color);
}

.responsibility-button a::after {
    content: "";
    display: inline-block;
    aspect-ratio: 71 / 79;
    width: 71px;
    height: auto;
    background-image: url(../../img/icon/icon-exception.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -1px;
    right: 0px;
}


.responsibility-button a,
.responsibility-button img {
    border-radius: 18px;
}

/* css product */
.all-product h2 {
    margin: 44px 0px;
    font-weight: 600;
    font-size: calc(var(--font-size-base) * 2);
    text-transform: capitalize;
    color: var(--primary-color);
}

.all-product__image {}

.all-product__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    width: 205px;
    height: 316px;
}

.product-image {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.all-product__item.center {
    transform: scale(1);
    z-index: 10;
}

.product-image,
.product-reflect {
    aspect-ratio: 205 / 316;
    width: 100%;
    height: auto;
}

.product-reflect {
    transform: scaleY(-1);
    opacity: 0.3;
    margin-top: -13px;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    height: 100px;
    object-fit: cover;
    object-position: bottom;
}

.all-product__item:hover {
    transform: scale(1.2) !important;
    z-index: 10 !important;
}


/* css logo partner */

.logo-partner__container {
    padding: 11px 0px;
}

.logo-partner__item {
    padding-left: clamp(22px, 5vw, 42px);
    padding-right: clamp(22px, 5vw, 42px);
    cursor: pointer;
    border-right: 1px solid var(--orange-color);
    cursor: pointer;
}

.logo-partner__item:hover {
    opacity: 0.8;
}

.logo-partner__item:last-child {
    border-right: none;
}

.logo-partner__item img {
    width: 100%;
    height: auto;
}

/* css rice type */

.rice-slider-container {
    padding: 24px 0px 16px;
    gap: 32px;
}

.rice-item {
    min-width: 1vw;
    width: 100%;
    text-align: center;
    color: var(--white-color);
    font-size: calc(var(--font-size-base) + 8px);
    text-transform: uppercase;
}

.rice-slider a.rice-item.active {
    color: orange;
}

.rice-slider {
    max-width: 80%;
}

.rice-prev,
.rice-next {
    background: white;
    border-radius: 50%;
    border: none;
    width: 36px;
    height: 36px;
    font-size: 20px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.rice-prev img,
.rice-next img {
    width: 40%;
    height: auto;
}

/* css partner */

.connection-container {
    gap: 35px;
    padding-top: 40px;
    padding-bottom: 47px;
    border-bottom: 1px solid var(--primary-color);
}

.connection-content__item,
.connection-title {
    font-weight: 700;
    text-transform: capitalize;
}

.connection-content__item:hover {
    opacity: 0.7;
}

.connection-content__item {
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: calc(var(--font-size-base) + 10px);
    max-width: 418px;
    width: 100%;
    min-height: 90px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connection-content__item.active {
    color: var(--primary-color);
    background-color: var(--orange-color);
}

.connection-title {
    color: var(--primary-color);
    font-size: calc(var(--font-size-base) * 2);
    margin-bottom: 32px;
}


.connection-content {
    flex-wrap: wrap;
    gap: 35px 41px;
}

/* css line end of content*/
.line-end-content {
    border: 1px solid var(--primary-color);
    width: 80vw;
    margin: 40px 0px;
}

/* css story */

.story-tab_mobile {
    display: none;
}

.story-tab_container {
    margin-top: 48px !important;
    margin-bottom: 73px !important;
    padding: 7px 28px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    justify-content: space-between;
}

.story-tab {
    min-width: 277px;
    padding: 7px 0px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    font-size: calc(var(--font-size-base) * 2);
    font-weight: bold;
    text-transform: capitalize;
    font-family: var(--font);
    color: var(--primary-color);
    transition: all 0.6s ease;
}

.story-tab:hover,
.story-tab.active {
    background-color: var(--orange-color);
}

.story-title {
    margin-top: 116px;
    margin-bottom: 90px;
    font-size: calc(var(--font-size-base) + 34px);
    text-align: center;
}

.story-sub-title__style {
    font-family: var(--font-ooohbaby);
    font-size: calc(var(--font-size-base) + 48px);
}

.story-slogan__title {
    font-size: calc(var(--font-size-base) + 32px);

}

.story-slogan__sub {
    font-size: calc(var(--font-size-base) + 10px);
    font-style: italic;
}

.story-title,
.story-slogan__title {
    font-weight: bold;
    text-transform: uppercase;
}

.story-title,
.story-slogan__title,
.story-slogan__sub {
    font-family: var(--font-inter);
}

.story-title,
.story-sub-title__style,
.story-slogan__title,
.story-slogan__sub {
    color: var(--primary-color);
}

.story-sub-title__style,
.story-slogan__title,
.story-slogan__sub {
    width: 100%;
    padding: 0px 90px;
}

.comment-container {
    margin-top: 49px;
    margin-bottom: 20px;
    gap: 58px;
}

.comment-item {
    padding: 49px 45px 23px 82px;
    border: 1px solid var(--primary-color);
    position: relative;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.comment-item p {
    margin-bottom: 26px;
}

.comment-item::after {
    content: "";
    display: inline-block;
    width: 47.73px;
    height: 32.92px;
    background-image: url(../../img/icon/chaticon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 27px;
    position: absolute;
    top: 24px;
}

.story-general__content strong {
    font-family: var(--font-name);
    font-weight: normal;
    margin-bottom: 25px;
}

.story-general__content em {
    font-style: italic;
    font-family: var(--font-inter);
    margin-bottom: 80px;
}

.story-general__content strong,
.story-general__content em {
    font-size: calc(var(--font-size-base) + 8px);
}

.core-values__title-second,
.core-values__title,
.field-of-operation__toptitle,
.field-of-operation__title {
    font-family: var(--font-name);
    font-weight: bold;
    color: var(--primary-color);
    text-transform: capitalize;
}

.core-values__title,
.field-of-operation__toptitle,
.field-of-operation__title {
    font-size: calc(var(--font-size-base) + 48px);
}

.field-of-operation__toptitle,
.field-of-operation__title {
    margin-bottom: 92px;
}

.core-values__map,
.field-of-operation__map {
    height: auto;
    width: 100%;
}

.core-values__container {
    padding-top: 89px;
}

.core-values__container strong,
.core-values__container p {
    color: var(--primary-color);
    font-size: calc(var(--font-size-base) * 2);
}

.core-values__container p {
    padding-bottom: 75px;
}

.core-values__title {
    margin-bottom: 29px;
}

.core-values__container .core-values__title {
    text-align: center;
}

.core-values__title-second {
    padding-top: 27px;
    font-size: calc(var(--font-size-base) + 32px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 82px;
}

.core-values__content {
    padding-bottom: 76px;
}

.core-values__item {
    width: calc(100% / 4 - 20px);
    padding: 35px 34px 64px;
    gap: 84px;
}

.core-values__item p {
    font-size: calc(var(--font-size-base) + 32px);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.core-values__item img {
    min-height: 151px;
}

.core-values__item:not(:last-child) {
    border-right: 1px solid var(--primary-color);
}

.tab-content {
    display: none;
}

.tab-content.show {
    display: block;
}

.general-content {
    position: relative;
}

.rice-down {
    position: absolute;
    left: 32%;
    top: 38%;
}

/* css contact */

.contact-container {
    padding: 45px 0px 60px;
}

.contact-content {
    flex-wrap: wrap;
}

.contact-title {
    font-size: calc(var(--font-size-base) + 48px);
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.contact-item {
    width: calc(100% / 3);
    padding: 30px 50px 30px;
    gap: 12px;
    text-align: center;
}

.contact-item img {
    margin-right: 10px;
}

.contact-item strong {
    color: var(--primary-color);
}

.contact-item__title {
    font-size: calc(var(--font-size-base) + 4px);
    color: var(--primary-color);
    font-weight: bold;
    text-transform: capitalize;
}

.address {
    border: none;
    background-color: var(--orange-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 50px;
    text-transform: capitalize;
}

.border-bottom {
    border-bottom: 1px solid var(--primary-color);
}

.border-left-right {
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.border-icon {
    position: relative;
}

.border-icon:before,
.border-icon:after {
    content: "";
    display: inline-block;
    width: 69px;
    height: 69px;
    background-image: url(../../img/icon/dot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -34px;
}

.border-icon::before {
    right: -34px;
}

.border-icon:after {
    left: -35px;
}

.map-marketing h1 {
    font-size: calc(var(--font-size-base) + 48px);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}

.map-marketing {
    padding-top: 10px;
}

.map-image {
    position: relative;
}

.map-hide {
    display: none !important;
}

.map-pin {
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 23px 4px;
    color: var(--orange-color);
    left: 20%;
    bottom: 64%;
    border: none;
    cursor: pointer;
}

.map-pin::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../../img/icon/Polygon\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -17px;
    left: 31px;
}

.title-color {
    color: var(--white-color) !important;
}

.map-container {}

.map-country {}

.map-country__item h2,
.map-country__item p {
    font-weight: bold;
}

.map-country__item h2 {
    font-size: 39px;
    margin-bottom: 14px;
    text-transform: uppercase;
    color: var(--orange-color);
}

.map-country__item p {
    font-size: 16px;
    color: var(--white-color);
}

.map-image {
    flex-grow: 1;
}

.map-image img {
    width: 108%;
    height: auto;
    transform: translateX(-10%);
}

.count-country {
    padding: 10px 0px;
}

.count-country__item {
    width: calc(100% / 4);
    gap: 10px;
}

.count-country__item {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: capitalize;
}

.count-country__item strong {
    font-size: calc(var(--font-size-base) + 48px);
}

.count-country__item p {
    font-size: calc(var(--font-size-base) * 2);
}

.bg-green .count-country__item {
    color: white;
}

.bg-white .map-detail {
    display: none !important;
}

.bg-green .world-map {
    display: none !important;
}

/* css intro */

.intro-part-one {
    z-index: 1;
}

.intro-part-one h3 {
    margin-top: 58px;
    font-size: calc(var(--font-size-base) + 32px);
    font-weight: bold;
    text-transform: capitalize;
    color: var(--orange-color);
}

.intro-part-one h1 {
    gap: 10px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: calc(var(--font-size-base) + 80px);
    font-weight: bold;
    position: relative;
}

.intro-part-one h1::after {
    content: "";
    display: inline-block;
    width: 400px;
    height: 323.46px;
    background-image: url(../../img/intro/rice.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -65%;
    left: 14%;
    z-index: -1;
}

.intro-part-one h1 span {
    font-size: calc(var(--font-size-base) + 32px);
    align-items: baseline;
}

.two-content,
.one-content,
.one-img {
    width: calc(100% / 2);
}

.one-img img {
    width: 100%;
    height: auto;
}

.intro-part-three p,
.two-content p,
.one-content p {
    font-size: calc(var(--font-size-base) * 2);
}

.intro-part-three>div{
    position: relative;
}

.product-fall{
    position: absolute;
    right: 0px;
    top: -23%;
}

.intro-part-three__special {
    width: 60%;
}

.two-content p {
    text-align: left;
}

.one-content p {
    text-align: right;
}


.one-content {
    align-items: end;
    justify-content: end;
}

.one-content a {
    padding: 17px 30px;
    border-radius: 50px;
    background-color: var(--orange-color);
    margin-top: 59px;
    font-size: calc(var(--font-size-base) + 8px);
    text-transform: uppercase;
    color: var(--primary-color);
    gap: 32px;
    font-weight: bold;
}

.line-end-content {}

.intro-part-two {}

.two-content {
    justify-content: end;
}

.intro-part-three h2,
.two-content h2 {
    font-size: calc(var(--font-size-base) + 28px);
    color: var(--orange-color);
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 45px;
}

.three-image {
    justify-content: right;
}

.three-image img {
    transform: translateX(20px);
}

.three-image__content {
    align-items: end;
    justify-content: end;
}

.three-image__content span,
.three-image__content p {
    font-size: calc(var(--font-size-base) + 32px);
    font-weight: bold;
    color: var(--primary-color);
}

.three-image__content span {
    color: var(--black-color);
    margin-bottom: 32px;
}

/* css network */
.dev-network__list p,
.dev-network__list h3,
.dev-network__list h2,
.dev-network__container strong,
.dev-network__container h1 {
    font-size: calc(var(--font-size-base) + 48px);
    color: var(--primary-color);
    text-transform: uppercase;
}

.dev-network__list h3,
.dev-network__list h2 {
    font-weight: normal;
    text-align: center;
}

.dev-network__container h1 {
    margin: 26px 0px 64px;
}

.dev-network__container strong {
    font-weight: normal;
}

.dev-network__list p span,
.dev-network__list h2 span,
.dev-network__container strong span {
    font-weight: bold;
    color: var(--orange-color);
}

.dev-network__list ul {
    width: 80%;
}

.dev-network__list ul li {
    font-size: calc(var(--font-size-base) + 24px);
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}

.dev-network__list {
    flex-grow: 1;
    align-items: end;
    gap: 48px;
}

.dev-network__map {
    width: 40%;
}

.dev-network__img {
    width: 100%;
    height: auto;
}

.dev-network__button {
    width: fit-content;
    border: none;
    background-color: transparent;
}

.dev-network__logo {
    width: 100%;
    border-radius: 50px;
    padding: 10px 0px;
    margin-bottom: 100px;
}

.dev-network____item {
    padding: 0px 20px;
}

.dev-network____item:not(:last-child) {
    border-right: 1px solid var(--white-color);
}

/* css comnunicate */

.community-container h1 {
    margin: 18px 0px 125px;
    font-size: calc(var(--font-size-base) + 48px);
    color: var(--primary-color);
    font-weight: bold;
}

.community-container h2 {
    margin: 42px 0px 30px;
    font-size: calc(var(--font-size-base) + 22px);
    color: var(--primary-color);
    font-weight: bold;
}

.community-list {
    width: 25%;
}

.community-list li {
    font-size: calc(var(--font-size-base) + 8px);
    text-transform: capitalize;
    font-weight: bold;
    color: var(--white-color)
}

.community-list li.active {
    padding: 5px 20px;
    border-radius: 50px;
    background-color: var(--white-color);
    color: var(--orange-color);
    font-size: calc(var(--font-size-base) + 20px);
}

.community-list ul {
    gap: 39px;
}

.community-tap {
    padding: 26px 0px;
}

.tap__container {
    flex-grow: 1;
    border-bottom-left-radius: 76px;
    border-top-left-radius: 76px;
    box-shadow: -8px 4px 16.3px 9px rgba(0, 0, 0, 0.25);
}

.tab__content li {
    flex-grow: 1;
    padding-left: 80px;
    justify-content: space-between;
    gap: 58px;
}

.tab__content li p {
    flex-grow: 1;
}

.tab__content {
    padding-right: 46px;
}

.list-time {
    gap: 10px;
    margin-bottom: 50px;
}

.list-time a {
    max-width: 140px;
    width: 100%;
    height: auto;
    border-radius: 50px;
    border: 1px solid var(--orange-color);
    padding: 1px;
}

.list-time a.active p {
    background-color: var(--orange-color);
    border-radius: 50px;
}

.list-time p {
    font-size: calc(var(--font-size-base) + 8px);
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
}

.tab__item {
    padding: 16px 0px;
    border-bottom: 1px solid var(--primary-color);
}

.pagination-container {
    padding: 20px 0px;
}

.pagination-content {
    gap: 10px;
    margin: 0px 45px;
}

.pagination-content a {
    aspect-ratio: 1 / 1;
    width: 38px;
    height: 38px;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: -8px 0px 10.3px 2px rgba(0, 0, 0, 0.25);
}

/* css sustainable */

.sustainable-content,
.sustainable-container {
    border-radius: 70px;
    overflow: hidden;
}

.sustainable-container {
    margin-top: 30px !important;
}

.sustainable-container p {
    width: 30%;
    text-align: center;
    color: var(--orange-color);
    font-size: calc(var(--font-size-base) + 32px);
    text-transform: uppercase;
    font-weight: bold;
    padding: 33px;
}

.sustainable-content {
    flex-grow: 1;
    justify-content: right;
    box-shadow: inset 1px -1px 7.7px 7px rgba(0, 0, 0, 0.25);
}

.sustainable-list {
    gap: 5px;
    margin-right: 150px;
}

.sustainable-list li a {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: calc(var(--font-size-base) + 22px);
    text-align: center;
}

.sustainable-list li {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 50px;
}

.sustainable__img-container {
    margin-top: 55px !important;
    position: relative;
}


.sustainable__img-container img:first-child {
    width: 100%;
    height: auto;
    border-radius: 70px;
}

.sustainable__img-container img:last-child {
    position: absolute;
    bottom: 5px;
    left: 26%;
    width: 38%;
    height: auto;
}

.strategy-section {}

.strategy-content__title {
    width: fit-content;
    background-image: url(../../img/banner/sustainable-background-exception.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.strategy-content__img {
    position: absolute;
    right: -5.5%;
    top: -3%;
    z-index: 2;
}

.strategy-content {
    background-color: var(--primary-color);
    border-radius: 89px;
    position: relative;
}

.commit-container p,
.strategy-content p {
    font-size: calc(var(--font-size-base) * 2);
}

.commit-container p {
    color: var(--primary-color);
    width: 35%;
}

.strategy-content p {
    width: 50%;
    color: var(--white-color);
    padding-left: 57px;
    padding-bottom: 100px;
    padding-top: 20px;
}

.commit-container h2,
.strategy-content h2 {
    font-size: calc(var(--font-size-base) + 48px);
    color: var(--primary-color);
    text-transform: capitalize;
}

.strategy-content h2 {
    padding-left: 57px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.leaf-image {}

.commit-container {
    padding: 57px;
    border-radius: 76px;
    margin-top: 171px !important;
    position: relative;
    z-index: -1;
}

.commit-container__img {
    margin-top: 120px;
    z-index: 3;
}

/* css product */

.product-banner__container {
    border-bottom: 1px solid var(--primary-color);
}

.product-menu__content,
.product-menu {
    padding-top: 33px;
}

.product-menu {
    width: 25%;
    padding-right: 13px;
}

.product-menu p {
    width: 100%;
    padding: 14px 20px;
    justify-content: space-between;
}

.product-menu__item>a,
.product-menu p {
    font-size: var(--font-size-base);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: all 0.4s ease;
}

.product-menu__item>a:hover,
.product-menu__item>ul>li>a:hover {
    color: var(--orange-color);
}

.product-menu__item>a {
    margin-bottom: 12px !important;
}

.product-menu p:hover,
.product-menu p.active {
    border-radius: 50px;
    color: var(--white-color);
}

.product-menu p:hover {
    background-color: var(--orange-color);
}

.product-menu p.active {
    background-color: var(--primary-color);
}

.product-menu p:hover svg,
.product-menu p.active svg {
    fill: var(--white-color);
}

.product-menu svg {
    width: 13px;
}

.product-menu__content {
    flex-grow: 1;
    justify-content: space-around;
}

.product-menu__item ul {
    gap: 12px;
}

.product-menu__item ul li a.active {
    color: var(--primary-color);
    font-weight: bold;
}

.product-banner__item {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
}

.product-banner__item img {
    aspect-ratio: 1 / 1;
    max-width: 455px;
    width: 100%;
    height: auto;
}

.all-product__container {
    padding: 100px 0px;
    flex-wrap: wrap;
    gap: 80px 24px;
}

.product-item {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% / 4 - 20px);
    border-radius: 19px;
    transition: all 0.8s ease;
    border: 2px solid transparent;
}

.product-item:hover {
    border: 2px solid var(--orange-color);
}

.product-img {
    background-color: var(--orange-color);
    border-radius: 17px;
    position: relative;
    max-height: 184px;
}

.product-img img {
    aspect-ratio: 205 / 316;
    width: 100%;
    height: auto;
    object-fit: contain
}

.product-discount {
    position: absolute;
    background-image: url(../../img/icon/Subtract.png);
    background-size: cover;
    background-repeat: no-repeat;
    right: 0px;
    bottom: -1px;
    padding: 38px 22px 12px 40px;
}

.product-type {
    border-radius: 30px;
    padding: 1px 15px;
    border: 1px solid var(--primary-color);
    font-size: var(--font-size-base);
    color: var(--orange-color);
    font-weight: bold;
}

.product-rate img {
    aspect-ratio: 1 / 1;
    width: 13px;
    height: auto;
    gap: 1px;
}

.product-fullinfo__quality,
.product-fullinfo {
    padding: 10px 21px;
}

.product-fullinfo__quality {
    gap: 7px;
}

.product-fullinfo {
    gap: 15px;
}

.product-status {
    font-size: calc(var(--font-size-base) - 2px);
    color: var(--primary-color);
    text-transform: capitalize;
}

.product-status span {
    color: var(--orange-color);
}

.product-title__second,
.product-title {
    font-size: calc(var(--font-size-base) + 4px);
    font-weight: bold;
    color: var(--primary-color);
}

.product-title__second {
    gap: 10px;
}

.product-title {
    width: 100%;
}

.product-info {
    width: 100%;
    list-style: disc;
    padding-left: 21px;
    color: var(--primary-color);
    font-size: calc(var(--font-size-base) - 5px);
}

.product-button {
    border: none;
    background-color: var(--primary-color);
    width: 85%;
    font-size: var(--font-size-base);
    font-weight: bold;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 8px;
    border-radius: 50px;
    justify-content: space-between;
}

.product-button p {
    width: 100%;
    text-align: center;
    border-right: 1px solid var(--white-color);
}

.product-button img {
    margin: 0px 20px;
}

.product-title__second {}

.product-quality {
    font-size: calc(var(--font-size-base) - 4px);
    color: var(--primary-color);
}

.product-quality li {
    list-style-type: disc;
    text-transform: capitalize;
}

.quality-content {
    justify-content: space-between;
}

.star {
    aspect-ratio: 1 / 1;
    width: 13px;
    height: auto;
}

.green,
.yellow {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.yellow {
    background-image: url(../../img/icon/yellow.svg);
}

.green {
    background-image: url(../../img/icon/green.svg);
}

/* css detail product */

.nav-bar {
    width: 100%;
}

.nav-bar__item {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
    text-transform: capitalize;
    color: var(--primary-color);
    text-decoration: underline;
    margin: 37px 10px 40px 0px;
}

.nav-bar__item:not(:last-child)::after {
    content: ">";
    position: absolute;
    width: 6.89px;
    height: 12.31px;
    right: 0;
    top: 0;
    color: var(--primary-color);
    font-size: 1.5em;
    line-height: 1;
}

.nav-bar__item {}

.detail-product__container {}

.detail-product__content {
    width: 39%;
    gap: 15px;
}

.detail-product__title,
.detail-product__name {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--primary-color);
}

.detail-product__content li {
    color: var(--primary-color);
    font-size: calc(var(--font-size-base) - 2px);
}

.detail-product__content li span {
    color: var(--orange-color);
}

.detail-product__content li div {
    gap: 10px;
}

.detail-product__content ul {
    list-style: disc;
    margin-left: 25px;
}

.detail-product__name {
    font-size: calc(var(--font-size-base) + 32px);
    gap: 20px;
}

.detail-product__name p {
    font-size: calc(var(--font-size-base) + 17px);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--orange-color);
    padding: 8px 20px;
    line-height: 1;
}

.detail-product__title {
    font-size: calc(var(--font-size-base) + 20px);
    margin-bottom: 42px;
}

.product-rate__container {
    justify-content: space-between;
}

.product-status__container {}

.product-rate__detail {
    gap: 0px !important;
}

.detail-product__contact {
    gap: 10px;
}

.detail-product__contact p {
    font-size: calc(var(--font-size-base) - 2px);
    color: var(--primary-color);
    padding-right: 10px;
}

.detail-product__contact p:first-child {
    border-right: 1px solid var(--primary-color)
}

.detail-product__button {
    font-size: calc(var(--font-size-base) + 8px);
    font-weight: bold;
    color: var(--white-color);
    font-weight: bold;
    text-transform: capitalize;
    background-color: var(--orange-color);
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
}

.detail-product__image {
    flex-grow: 1;
    background-image: url(../../img/icon/detail-product.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 27px -3px;
    overflow: visible;
}

.detail-product__image img {
    width: 100%;
    height: auto;
    max-width: 322px;
}

.thumbnail-images {
    margin: 66px 0px 18px !important;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--primary-color);
}

.thumbnail-images img {
    aspect-ratio: 1 / 1;
    max-width: 159px;
    height: auto;
    object-fit: contain;
    padding: 29px;
    border: 1px solid var(--black-color);
}

/* css footer */

.footer-container {
    padding: 15px;
}

.footer-top {
    padding: 31px 0px 36px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px 20px;
}

.footer-content h3 a,
.footer-content a {
    color: var(--primary-color);
}

.footer-content h3 a {
    font-size: calc(var(--font-size-base) + 8px);
    text-transform: uppercase;
}

.footer-content a {
    margin-bottom: 7px;
    font-size: calc(var(--font-size-base) - 2px);
    text-transform: capitalize;
    transition: all 0.5s ease;
}

.footer-content a:hover {
    color: var(--orange-color);
}

.footer-content a:last-child {
    margin-bottom: 0px;
}

.footer-content hr {
    border: 1px solid var(--primary-color);
    min-width: 112px;
    margin: 12px 0px;
}

.footer-content {
    min-width: 200px;
}

.footer-bottom {
    flex-wrap: wrap;
    gap: 40px 20px;
    padding: 23px 0px 32px;
    justify-content: space-around;
}

.footer-logo {
    margin-top: 20px;
}

.footer-info {}

.footer-title {
    font-size: calc(var(--font-size-base) + 19px);
    font-weight: 500;
}

.footer-address {
    font-size: calc(var(--font-size-base) + 4px);
}

.footer-contact h4,
.footer-title,
.footer-address {
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}

.footer-logo__item {
    padding: 0px 30px;
}

.footer-logo__item img {
    max-height: 52px;
    width: auto;
}

.footer-logo__item:nth-child(2) {
    border-left: 1px solid var(--yellow-green);
    border-right: 1px solid var(--yellow-green);
}

.footer-contact {
    gap: 5px 3px;
}

.footer-contact h4 {
    font-size: calc(var(--font-size-base) + 9px);
}

.search-box__footer {
    width: 100%;
    padding: 3px 5px;
    border: 1px solid var(--white-color);
    border-radius: 50px;
    justify-content: space-between;
}

.search-box__footer input,
.search-box__footer button {
    background-color: transparent;
    border: none;
}

.search-box__footer input::placeholder {
    font-size: calc(var(--font-size-base) - 2px);
    color: var(--white-color);
    font-weight: 600;
}

.footer-social {
    gap: 10px;
}

.footer-mobile {
    display: none;
}

.footer-main-logo {
    width: 15%;
}

.footer-main-logo img {
    aspect-ratio: 124 / 94;
    width: 100%;
    height: auto;
}

.footer-contact {
    width: 20%;
}

.footer-contact__icon {
    width: 100%;
}

.footer-contact__icon img {
    aspect-ratio: 596 / 197;
    width: 100%;
    height: auto;
}


/* css fade */
.hidden-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out, filter 0.9s ease-out;
    will-change: opacity, transform, filter;
}

.show-up {
    opacity: 1;
    transform: translateY(0);
}