/* css header */
.header-bottom,
.header-top {
    border-bottom: 1px solid var(--primary-color);
    position: relative;
}

.menu-bottom {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}

.header-container {
    justify-content: space-between;
}

.header-content__left,
.header-content__right {
    width: calc(100% / 3 - 20px);
}

.header-content__left {
    gap: 30px;
}

.header-content__right {
    justify-content: right;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url('../../img/icon/Vector-down.png');
    background-repeat: no-repeat;
    background-position: right 10px bottom 8px;
    background-size: 12px;
    border: none;
    padding: 7px 16px 5px 15px;
    cursor: pointer;
    max-width: 120px;
}


.option-bg {
    background-color: var(--yellow-green);
    border: 1px solid var(--orange-color);
    border-radius: 50px;
}

.logo {
    position: relative;
    margin: 0 auto;
    display: block;
    bottom: -10px;
    z-index: 11;
}

.logo img{
    width: 100%;
    height: auto;
}

.logo-partner {
    padding: 0px 21px;
}

.header-content__right .logo-partner:not(:last-child) {
    border-right: 1px solid var(--primary-color);
}

.header-bottom {
    margin-top: 34.5px;
    padding-bottom: 21px;
}

.header-content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-content a {
    min-width: 80px;
    padding: 5px 0px;
    border: 50px;
    font-size: calc(var(--font-size-base) - 2px);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}

.nav-active {
    background-color: var(--orange-color);
    border-radius: 50px;
}

.search-box input,  
.search-box button{  
    border: none;
    background-color: transparent;
}

.search-box input{
    width: 100%;
}

.search-box {
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 3px 6px 3px 11px;
    min-width: 120px;
}

.search-box button{
    border-left: 1px solid var(--primary-color);
    padding-left: 16px;
}

/* css mobile menu */

#menumobile{
    display: none;
}

.container-menu__mobile{
    font-size: var(--font-size-base);
    color: var(--white-color);
    padding: 11px 0px 9px ;
    justify-content: space-between;
    padding-top: 34.5px;
}

.menu__btn {
    width: calc(100% / 5 );
    border-right: 1px solid var(--yellow-green);
    justify-content: center;
    gap: 7px;
}

.menu__btn:first-child{
    justify-content: start;
    width: 10%;
}

.menu__btn:last-child{
    border-right: none;
}

/* css banner trang chủ */
.main-banner a{
    width: 100%;
    height: 100%;
}

.main-banner a img{
    width: 100%;
    height: auto;
}
 