/* css reponsive size < 1151 > 961*/
@media screen and (max-width: 1151px) and (min-width: 961px) {
    #menumobile {
        display: block;
    }

    .header-bottom {
        display: none;
    }

    .responsibility-container {
        flex-direction: column;
    }

    .responsibility-button {
        justify-content: left;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .sustainable-list {
        margin-right: 30px;
    }
}

@media screen and (max-width: 766px) and (min-width: 551px) {

    .sustainable__img-container img:first-child {
        height: 300px;
        object-fit: cover;
    }

    .sustainable__img-container img:last-child {
        left: 6%;
    }

    .sustainable-content {
        justify-content: center;
        padding: 0px 40px;
    }

    .sustainable-list li,
    .sustainable-list li a {
        font-size: calc(var(--font-size-base) + 12px);

    }

    .sustainable-container p {
        font-size: calc(var(--font-size-base) + 22px);
    }

    .sustainable-list {
        margin-right: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {

    .sustainable__img-container img:first-child {
        height: 100px;
        object-fit: cover;
    }

    .sustainable__img-container img:last-child {
        left: 6%;
    }

    .sustainable-content {
        justify-content: center;
        padding: 20px;
    }

    .sustainable-list li,
    .sustainable-list li a {
        font-size: calc(var(--font-size-base) + 8px);

    }

    .sustainable-container p {
        font-size: calc(var(--font-size-base) + 12px);
    }

    .sustainable-list {
        margin-right: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {

    .product-fall,
    .rice-fall {
        display: none;
    }

    .intro-custom__content,
    .intro-custom__image {
        width: 100%;
        flex: 0 0 auto;
    }

    .responsibility-container {
        flex-direction: column;
    }

    .responsibility-button {
        justify-content: left;
        margin-top: 30px;
    }

    #SP-item {
        display: none;
    }

    .responsibility-content {
        width: 100%;
    }

    .responsibility-button img {
        flex: 1 1 auto;
        object-fit: cover;
        object-position: top;
    }

    .all-product__image {
        display: none;
    }

    .all-product__image-mobile {
        display: block;
    }

    .detail-product__container {
        flex-direction: column;
        gap: 30px;
    }

    .detail-product__image {
        display: flex;
        justify-content: center;
    }

    .detail-product__image {
        background-position: right;
    }

    .detail-product__content {
        width: 100%;
    }
}

/* css reponsive size < 960 px */
@media screen and (max-width: 960px) and (min-width: 611px) {

    .header-content__left,
    .header-content__right,
    .header-bottom {
        display: none;
    }

    #menumobile {
        display: block;
    }

    .connection-content__item {
        max-width: 280px;
        min-height: 80px;
    }

    .core-values__item {
        width: calc(100% / 2 - 20px);
    }

    .footer-main-logo {
        width: 50%;
    }

    .core-values__item:not(:last-child) {
        border-right: unset;
    }

    .core-values__item:nth-child(1),
    .core-values__item:nth-child(3) {
        border-right: 1px solid var(--primary-color);
    }

    .detail-product__image {
        justify-content: left;
    }

    .detail-product__image {
        background-position: left;
    }

    body .all-product__container .product__container .product-item {
        width: calc(100% / 3 - 20px) !important;
    }

    .story-tab_container {
        padding: 6px 12px;
    }

}

@media screen and (max-width: 884px) {
    .display-mobile {
        flex-direction: column;
    }

    .community-dropdown {
        display: block;
    }

    .community-select {
        display: none;
    }

    .community-dropdown {
        appearance: none;
        background-color: var(--white-color);
        color: var(--black-color);
        font-size: var(--font-size-base);
        padding: 10px 30px;
        margin: 20px 0;
        border: none;
        border-radius: 50px;
        width: 100%;
        cursor: pointer;
        text-transform: capitalize;
        font-weight: 600;

    }

    .community-list {
        position: relative;
    }

    /* Thêm icon mũi tên dropdown */
    .community-list::after {
        content: "";
        position: absolute;
        right: 20px;
        aspect-ratio: 71 / 79;
        width: 12px;
        height: auto;
        top: 57%;
        transform: translateY(-50%);
        background-image: url(../../img/icon/Vector-down.png);
        pointer-events: none;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (max-width:768px) {
    .footer-logo {
        display: none;
    }

    .core-values__item:not(:last-child) {
        border-right: unset;
    }

    .field-tab,
    .story-tab {
        font-size: var(--font-size-base);
    }

    .rice-item {
        font-size: var(--font-size-base);
    }

    .core-values__item {
        width: calc(100% / 1 - 20px);
    }

    .creation-process__container {
        flex-direction: column;
    }

    .creation-process__item {
        flex-direction: row !important;
        width: 80vw;
        justify-content: space-between;
    }

    .line-center {
        width: 2px;
        height: 100%;
    }

    .creation-process__item img:nth-child(2) {
        margin: 0px;
    }

    .creation-process__img {
        width: 50%;
        max-height: 100px;
        height: auto;
    }

    body .all-product__container .product__container .product-item {
        width: calc(100% / 2 - 20px) !important;
    }

    .product-button img {
        margin: 0px 5px;
    }
}

@media screen and (max-width: 620px) {

    .header-content__left,
    .header-content__right,
    .header-bottom {
        display: none;
    }

    .detail-product__image img {
        max-width: 200px;
    }

    .detail-product__image {
        justify-content: left;
    }

    .detail-product__image {
        background-position: left;
    }

    #menumobile {
        display: block;
    }

    .thumbnail-images img {
        max-width: 100px;
        padding: 10px;
    }

    .container-menu__mobile {
        font-size: calc(var(--font-size-base) / 2);
    }

    .connection-content__item {
        max-width: 260px;
        min-height: 60px;
        font-size: var(--font-size-base);
    }

    .footer-main-logo {
        width: 50%;
    }

    .responsibility-button a {
        max-width: unset;
    }

    .responsibility-button a,
    .responsibility-button img:nth-child(4),
    .responsibility-button img:nth-child(2) {
        width: calc(100% / 2 - 10px);
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .contact-content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact-item,
    .contact-item:nth-child(1),
    .contact-item:nth-child(2) {
        width: 100%;
        flex: unset;
    }

    .border-icon::after,
    .border-icon::before,
    .bottom-icon-SP::after {
        all: unset;
    }

    .bottom-icon-SP,
    .border-left-right {
        border-left: 0px solid var(--primary-color);
        border-right: 0px solid var(--primary-color);
    }

    .story-tab_container {
        padding: 6px 6px;
    }


    .field-tab,
    .story-tab {
        padding: 7px 10px;
    }

    .field-tab,
    .story-tab {
        padding: 7px 10px;
    }

    .field-of-operation__content,
    .field-of-operation__link {
        padding: 30px 0px;
    }

    .story-tab_container {
        margin-bottom: 30px !important;
    }

    .field-of-operation__toptitle,
    .field-of-operation__title {
        margin-bottom: 45px;
    }

    .sustainable-container {
        margin-top: 30px !important;
    }

    .tab__content li {
        flex-grow: 1;
        padding-left: 20px;
        justify-content: space-between;
        gap: 58px;
    }

    .tab__content {
        padding-right: 26px;
    }

    .list-time p {
        font-size: var(--font-size-base);
    }
}

@media screen and (max-width: 551px) {

    :root {
        --font-size-base: 12px;
    }

    .creation-process__item {
        width: 100vw;
    }

    .intro-custom__container h2,
    .intro-custom__container h1 {
        font-size: calc(var(--font-size-base) + 24px);
    }

    .intro-custom__container h1 span {
        font-size: calc(var(--font-size-base) + 64px);
    }

    .menu-bottom {
        display: none;
    }

    .logo {
        max-width: 105px;
        bottom: -5px;
    }

    .container-menu__mobile {
        padding-top: 9px;
    }

    .rice-slider {
        max-width: 70%;
    }

    .footer-bottom,
    .footer-top {
        display: none;
    }

    .rice-prev,
    .rice-next {
        width: 19px;
        height: 19px;
    }

    .footer-mobile {
        display: flex;
        gap: 36px;
    }

    .footer-mobile-logo {
        width: 30%
    }

    .footer-mobile-logo img {
        width: 100%;
        height: auto;
    }

    .footer-title-mb,
    .footer-address-mb {
        text-transform: uppercase;
        color: var(--white-color);
    }

    .footer-title-mb {
        font-size: calc(var(--font-size-base) - 4px);
        font-weight: 600;
    }

    .footer-address-mb {
        font-size: calc(var(--font-size-base) - 6px);
        font-weight: 400;
    }

    .footer-container {
        padding: 15px 0px;
    }

    .connection-content__item {
        max-width: 160px;
        min-height: 38px;
        font-size: var(--font-size-base);
    }

}