<div class="container-l flex product-filter">
    <div class="center-ver flex bg-white filter-item__left">
        <span>Thương Hiệu</span>
        <select title="filter sản phẩm">
            <option>Vua Gạo</option>
            <option>Gạo Lứt</option>
            <option>ST25</option>
        </select>
    </div>
    <div class="center-ver flex bg-white filter-item__right">
        <span>Tìm Sản Phẩm</span>
        <div>
            <select title="filter sản phẩm">
                <option>Tên / Mã Hàng</option>
                <option>Loại Gạo</option>
                <option>Xuất Xứ</option>
            </select>
        </div>
        <div>
            <select title="filter sản phẩm">
                <option>Khối Lượng Tịnh</option>
                <option>1kg</option>
                <option>5kg</option>
                <option>10kg</option>
            </select>
        </div>
    </div>
</div>