<div class="container-l footer-container">
    <div class="container-f flex bg-white footer-top">
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">câu chuyện</a></h3>
            <hr>
            <a href="#">tổng quan</a>
            <a href="#">tầm nhìn - sứ mệnh</a>
            <a href="#">triết lý kinh doanh</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">lĩnh vực hoạt động</a></h3>
            <hr>
            <a href="#">hợp tác, bao tiêu vùng nguyên liệu</a>
            <a href="#">gia công các sản phẩm </a>
            <a href="#">cung ứng nguồn nguyên liệu </a>
            <a href="#">phân phối nông sản sạch </a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Phát triển bền vững</a></h3>
            <hr>
            <a href="#">Chiến lược</a>
            <a href="#">cam kết</a>
            <a href="#">bảo vệ môi trường</a>
            <a href="#">hoạt động xã hội</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Quan hệ cổ đông</a></h3>
            <hr>
            <a href="#">thông tin tài chính</a>
            <a href="#">điều lệ & quy chế</a>
            <a href="#">báo cáo tài chính</a>
            <a href="#">công bố thông tin</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Tin tức</a></h3>
            <hr>
            <a href="#">thông cáo báo chí</a>
            <a href="#">tin tức nông nghiệp</a>
            <a href="#">truyền thông</a>
            <a href="#">blog</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Liên hệ</a></h3>
            <hr>
            <a href="#">info@vuagaovn.com</a>
            <a href="#">1800 8012</a>
            <a href="#">Hệ thống chi nhánh</a>
        </div>
    </div>
    <div class="container-f flex center-ver  footer-bottom">
        <div class="footer-main-logo">
            <img src="../img/logo/LOGO FEBI-11.svg" alt="">
        </div>
        <div class="flex flex-col center-ver center-hor footer-info">
            <h3 class="footer-title">CÔNG TY cổ phần THỰC PHẨM THIÊN NHIÊN KING GREEN</h3>
            <p class="footer-address">TẦNG 10,11 ENTERPRISE TOWER, 290 BẾN VÂN ĐỒN, PHƯỜNG 02, QUẬN 4, TP. HỒ
                CHÍ MINH, việt nam.</p>
            <div class="flex center-ver footer-logo">
                <div class="footer-logo__item">
                    <img src="./img/logo/logo nuffam.png " alt="">
                </div>
                <div class="footer-logo__item">
                    <img src="./img/logo/logo vuagao.png " alt="">
                </div>
                <div class="footer-logo__item">
                    <img src="./img/logo/logo ong cu.png" alt="" >
                </div>
                <div class="footer-logo__item">
                    <img src="./img/logo/logo mowari.png " alt="">
                </div>
            </div>
        </div>
        <div class="flex flex-col center-ver footer-contact">
            <div class="footer-contact__icon">
                <img src="../img/logo/bo-cong-thuong 1.png" alt="">
            </div>
            <div class="flex center-ver search-box__footer">
                <input type="text" placeholder="Gmail..." />
                <button type="submit">
                    <img src="./img/icon/arrow-right.png" alt="Search" />
                </button>
            </div>
            <div class="not-robot">
                <img src="./img/icon/Group 98.png" alt="">
            </div>
            <div class="flex footer-social">
                <a href="#" target="_blank"><img src="./img/icon/you.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/in.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/fac.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/ins.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/tiktok.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="center-ver footer-mobile">
        <div class="footer-mobile-logo">
            <img src="../img/logo/LOGO FEBI-11.svg" alt="">
        </div>
        <div class="footer-mobile_content">
            <h3 class="footer-title-mb">CÔNG TY cổ phần THỰC PHẨM THIÊN NHIÊN KING GREEN</h3>
            <p class="footer-address-mb">TẦNG 10,11 ENTERPRISE TOWER, 290 BẾN VÂN ĐỒN, PHƯỜNG 02, QUẬN 4, TP.
                HỒ
                CHÍ MINH, việt nam.</p>
        </div>
    </div>
</div>