<div class="container-l flex center-ver header-container">
    <div class="flex center-ver header-content__left">
        <select class="custom-select option-bg">
            <option>English</option>
            <option>Vietnamese</option>
        </select>

        <select class="custom-select">
            <option>Tuyển dụng</option>
            <option>Ứng tuyển</option>
            <option>Thông tin công việc</option>
        </select>
    </div>
    <div class="logo">
        <img title="logo trang chủ" src="./img/logo/LOGO FEBI-09.svg" alt="">
    </div>
    <div class=" flex header-content__right">
        <div class="center-hor flex logo-partner">
            <img title="logo đối tác" src="./img/logo/logo nuffam CAM 2.png" alt="">
        </div>
        <div class="center-hor flex logo-partner">
            <img title="logo đối tác" src="./img/logo/Group 1.png" alt="">
        </div>
        <div class="center-hor flex logo-partner">
            <img title="logo đối tác" src="./img/logo/Logo_ 2.png" alt="">
        </div>
        <div class="center-hor flex logo-partner">
            <img title="logo đối tác" src="./img/logo/Logo Mowari (final) 3.png" alt="">
        </div>
    </div>
    <div class="menu-bottom">
        <img src="./img/icon/bottommenu.png" alt="">
    </div>
</div>