<div class="container-xs flex container-menu__mobile">
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/Vector-bar.png" alt="">
    </a>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/nuffam-mini.png" alt="">
    </a>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/vuagao-mini.png" alt="">
        <p>Vua Gạo</p>
    </a>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/ong-cu-mini.png" alt="">
        <p>Ông Cụ</p>
    </a>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/tuyen-dung.png" alt="">
        <p>Tuyển dụng</p>
    </a>
    <div class=" flex center-ver menu__btn">
        <p><a href="">Tiếng việt</a>/<a href="">English</a></p>
    </div>
</div>