<div class="container-f bg-light-gray">
    <div class="container-l core-values__container">
        <h2 class="core-values__title">Tầm nhìn</h2>
        <p>Với mục tiêu trở thành thương hiệu nông sản hàng đầu không chỉ ở Việt Nam mà còn vươn xa thế
            giới, King Green không ngừng nghiên cứu và đưa ra thị trường các sản phẩm đa dạng với chất lượng
            tốt hơn, ngon hơn đáp ứng tiêu chí cao của tất cả khách hàng.</p>
        <h2 class="core-values__title">Sứ mệnh</h2>
        <p>King Green cam kết mang lại sự hài lòng và niềm tin cho khách hàng thông qua những sản phẩm chất
            lượng, thơm ngon, an toàn dựa trên nền tảng “công nghệ hiện đại, hương vị truyền thống”.</p>
    </div>
</div>
<div class="flex flex-col container-f center-ver bg-white">
    <h3 class="core-values__title-second">GIÁ TRỊ CỐT LÕI</h3>
    <div class="flex container-l center-hor core-values__content">
        <div class="flex flex-col center-hor center-ver core-values__item">
            <img src="./img/icon/trachnhiem.png" alt="">
            <p>Trách nhiệm cộng đồng</p>
        </div>
        <div class="flex flex-col center-hor center-ver core-values__item">
            <img src="./img/icon/chatluong.png" alt="">
            <p>cải tiến chất lượng</p>
        </div>
        <div class="flex flex-col center-hor center-ver core-values__item">
            <img src="./img/icon/handshare.png" alt="">
            <p>hợp tác bền vững</p>
        </div>
        <div class="flex flex-col center-hor center-ver core-values__item">
            <img src="./img/icon/huychuong.png" alt="">
            <p>uy tín với khác hàng</p>
        </div>
    </div>
</div>