<div class="flex flex-col container-l bg-white intro-custom__container padding-small" `>
    <h1 class="flex center-ver flex-wrap">giới thiệu<span>febi foods</span></h1>
    <div class="flex flex-wrap ">
        <div class="flex flex-col intro-custom__content">
            <p>Khởi nguồn từ hạt gạo – Hành trình nâng tầm giá trị Việt Hạt gạo – biểu tượng văn hóa, linh
                hồn ẩm thực của người Việt – đã gắn bó với đời sống hàng triệu gia đình qua bao thế hệ. Tuy
                nhiên, trong guồng quay hiện đại, làm sao để gạo không chỉ là lương thực thiết yếu, mà còn
                trở thành sản phẩm chất lượng cao, tiện lợi, thân thiện môi trường và phù hợp với xu hướng
                tiêu dùng mới?</p>
            <a href="#" class="flex center-ver all-btn">Xem thêm <img src="../img/icon/Vector-down.png" alt=""></a>
        </div>
        <div class="intro-custom__image">
            <img src="./img/intro/Untitled-1 1.png" alt="">
        </div>
    </div>
</div>
<div class="container-f bg-light-gray padding-medium">
    <div class="flex container-l flex-wrap intro-custom__container ">
        <div class="flex flex-col intro-custom__content">
            <h2>Định vị thương hiệu: F.E.B.I</h2>
            <p>FEBI không chỉ là tên gọi, mà là tuyên ngôn giá trị mà công ty theo đuổi: <br>F – Fulfilling: Mỗi bữa ăn
                từ
                gạo
                mang đến sự trọn vẹn: đủ dinh dưỡng, đủ an tâm và đủ cảm xúc. <br> E – Eco: Gắn kết sản phẩm với lối
                sống
                xanh –
                từ nguồn nguyên liệu sạch, quy trình sản xuất thân thiện môi trường đến bao bì dễ phân hủy.</p>
            <a href="#" class="flex center-ver all-btn">Xem thêm <img src="../img/icon/Vector-down.png" alt=""></a>
        </div>
        <div class="intro-custom__image position-one">
            <img src="../img/intro/Untitled-2TXD 1.png" alt="">
            <img class="rice-fall" src="../img/intro/rice-fall.png" alt="">
        </div>
    </div>
</div>
<div class="flex container-l bg-white intro-custom__container padding-larger">
    <div class="flex container-l flex-wrap intro-custom__container">
        <div class="intro-custom__image position-two">
            <img src="../img/intro/CÁZDS 1.png" alt="">
            <img class="product-fall" src="../img/intro/product-fall.png" alt="">
        </div>
        <div class="flex flex-col intro-custom__content">
            <h2>Sản phẩm chủ lực</h2>
            <p>FEBI FOODS tập trung chuyên sâu vào các dòng sản phẩm từ gạo, chia thành 3 nhóm chính: <br> a. Gạo sạch chất
                lượng cao <br> Các dòng gạo trắng, gạo thơm, gạo lứt, gạo hữu cơ được chọn lọc từ vùng nguyên liệu uy tín tại
                ĐBSCL, canh tác theo hướng bền vững, không dư lượng thuốc bảo vệ thực vật, đáp ứng tiêu chuẩn an toàn vệ
                sinh thực phẩm.</p>
            <a href="#" class="flex center-ver all-btn">Xem thêm <img src="../img/icon/Vector-down.png" alt=""></a>
        </div>
    </div>
</div>