<div class="container-l bg-green flex sustainable-container">
            <p>phát <br> triển <br> bền <br> vững</p>
            <div class="sustainable-content flex center-ver bg-orange">
                <ul class="flex flex-col sustainable-list">
                    <li class="flex center-hor"><a href="#part-one">chiến lược</a></li>
                    <li class="flex center-hor"><a href="#part-two">cam kết</a></li>
                    <li class="flex center-hor">bảo vệ môi trường</li>
                    <li class="flex center-hor">hoạt động xã hội</li>
                </ul>
            </div>
        </div>
        <div class="container-l sustainable__img-container">
            <img src="./img/banner/sustainable-img.png" alt="">
            <img src="./img/banner/sustainable-model.png" alt="">
        </div>